{% extends "base.html" %} {% block title %}Schedule{% endblock %} {% block
content %}

<div id="add-schedule">
  <button type="button" id="add-schedule-btn">Add Schedule</button>
</div>
<!-- <a href="/schedule/add_schedule">Add schedule template</a> -->
<div id="popup-schedule"></div>
<div id="schedule">
  <h2>Schedule</h2>
  {% for schedule in schedules %}
  <div id="{{ schedule.id }}">
    <h3>
      <!-- gose to a page with all the workout in this schedule that lets you add exerices in template if not in exerice page -->
      <a
        href="/schedule/{{ schedule.id }}"
        target="_blank"
        rel="noopener noreferrer"
        >{{ schedule.name }}</a
      >
    </h3>
    <p>{{ schedule.description }}</p>
    <button class="edit-btn">Edit</button>
    <button type="button" class="delete-btn">Delete</button>
  </div>
  {% endfor %}
</div>
<script src="{{ url_for('workout_schedule_bp.static', filename='schedule.js') }}"></script>
{% endblock %}
