<form id="add-schedule-form" method="post">
  <label for="add-name">name</label>
  <input type="text" id="add-name" name="name" required />
  <label for="add-description">description</label>
  <input type="text" id="add-description" name="description" />
  <label for="is_weekly">Repeat Weekly</label>
  <input type="checkbox" id="is_weekly" name="is_weekly" value="is_weekly" />

  <div class="day">
    <input type="checkbox" id="mon" name="mon" value="mon" />
    <label for="mon">Monday</label>

    <input type="checkbox" id="tue" name="tue" value="tue" />
    <label for="tue">Tuesday</label>

    <input type="checkbox" id="wed" name="wed" value="wed" />
    <label for="wed">Wednesday</label>

    <input type="checkbox" id="thur" name="thur" value="thur" />
    <label for="thur">Thursday</label>

    <input type="checkbox" id="fri" name="fri" value="fri" />
    <label for="fri">Friday</label>

    <input type="checkbox" id="sat" name="sat" value="sat" />
    <label for="sat">Saturday</label>

    <input type="checkbox" id="sun" name="sun" value="sun" />
    <label for="sun">Sunday</label>
  </div>
  <button type="submit" id="save_schedule">Add schedule</button>
</form>
