<form id="edit-schedule-form" data-id="{{schedule.id}}" method="patch">
  <label for="add-name">name</label>
  <input
    type="text"
    id="add-name"
    name="name"
    required
    value="{{schedule.name}}"
  />
  <label for="add-description">description</label>
  <input
    type="text"
    id="add-description"
    name="description"
    value="{{schedule.description}}"
  />

  <label for="is_weekly">Repeat Weekly</label>
  <select name="repeat" id="repeat">
    {% if schedule.repeat == "no-repeat" %}
    <option value="no-repeat" selected>Don't repeat</option>
    <option value="daily">Daily</option>
    <option value="weekly">Weekly</option>
    <option value="monthly">Monthly</option>
    {% elif schedule.repeat == "daily" %}
    <option value="no-repeat">Don't repeat</option>
    <option value="daily" selected>Daily</option>
    <option value="weekly">Weekly</option>
    <option value="monthly">Monthly</option>
    {% elif schedule.repeat == "weekly" %}
    <option value="no-repeat">Don't repeat</option>
    <option value="daily">Daily</option>
    <option value="weekly" selected>Weekly</option>
    <option value="monthly">Monthly</option>
    {% elif schedule.repeat == "monthly" %}
    <option value="no-repeat">Don't repeat</option>
    <option value="daily">Daily</option>
    <option value="weekly">Weekly</option>
    <option value="monthly" selected>Monthly</option>
    {% endif %}
  </select>

  <div class="not-weekly">
    <label for="datepicker">Select a date:</label>
    <input type="date" id="datepicker" />
  </div>
  <div class="repeat-weekly">
    {% if schedule.mon == "true" %}
    <input type="checkbox" id="mon" name="mon" value="mon" checked />
    {%else %}
    <input type="checkbox" id="mon" name="mon" value="mon" />
    {% endif%}
    <label for="mon">Monday</label>

    {% if schedule.tue == "true" %}
    <input type="checkbox" id="tue" name="tue" value="tue" checked />
    {%else %}
    <input type="checkbox" id="tue" name="tue" value="tue" />
    {% endif%}
    <label for="tue">Tuesday</label>

    {% if schedule.wed == "true" %}
    <input type="checkbox" id="wed" name="wed" value="wed" checked />
    {%else %}
    <input type="checkbox" id="wed" name="wed" value="wed" />
    {% endif%}
    <label for="wed">Wednesday</label>

    {% if schedule.thur == "true" %}
    <input type="checkbox" id="thur" name="thur" value="thur" checked />
    {%else %}
    <input type="checkbox" id="thur" name="thur" value="thur" />
    {% endif%}
    <label for="thur">Thursday</label>

    {% if schedule.fri == "true" %}
    <input type="checkbox" id="fri" name="fri" value="fri" checked />
    {%else %}
    <input type="checkbox" id="fri" name="fri" value="fri" />
    {% endif%}
    <label for="fri">Friday</label>

    {% if schedule.sat == "true" %}
    <input type="checkbox" id="sat" name="sat" value="sat" checked />
    {%else %}
    <input type="checkbox" id="sat" name="sat" value="sat" />
    {% endif%}
    <label for="sat">Saturday</label>

    {% if schedule.sun == "true" %}
    <input type="checkbox" id="sun" name="sun" value="sun" checked />
    {%else %}
    <input type="checkbox" id="sun" name="sun" value="sun" />
    {% endif%}
    <label for="sun">Sunday</label>
  </div>
  <button type="submit" id="save_edit">Save</button>
</form>
