{% extends "base.html" %} {% block title %}Reset Password{% endblock %}{% block
content %}
<h2>
  {%if user_email %} Reseting password for {{user_email}} {% else %} Reset Your
  Password {% endif %}
</h2>
<form id="password-reset-form" method="POST" action="{{action}}">
  {{ form.hidden_tag() }}
  <!-- form  -->
  {% for field in form if field.widget.input_type != 'hidden' %} {% if
  field.type != 'SubmitField' %} {{ field.label }} {{ field }} {% for error in
  field.errors %} {{ error }} {% endfor %} {% else %} {{ field }}
  <!-- Display the submit button without its label -->
  {% if error %}{{error}}{% endif %} {% endif %} {% endfor %}
</form>
{% endblock %}
