:root {
  --bg-color: #f5f5f5;
  --font-color: black;
  --accents-color-light: #9f5f91;
  --accents-color-dark: #572c57;
  --primary-color: #e26972;
  --yellow-color: #f6ea98;
  --nav-height: 3rem;
  --font-family-roboto: "Roboto", sans-serif;
  --font-family-oswald: "Oswald", sans-serif;
  --fs-h2: 20px;
  --fs-h1: 30px;
}
/* @media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #1b1b1b;
    --input-color: #4a4a4a;
    --font-color: #f5f5f5;
  }
  .material-symbols-outlined {
    color: var(--font-color);
  }
  .btn:hover,
  .small-btn:hover,
  .small-btn:hover .material-symbols-outlined,
  form input[type="submit"]:hover {
    color: var(--bg-color);
  }
} */
/* ================= nav bar ================ */
body {
  background-color: var(--bg-color);
  color: var(--font-color);
  font-family: var(--font-family-roboto);
}

.navIconBtn,
.navIconBtnClose {
  border-color: transparent;
  background-color: transparent;
  float: inline-end;
  height: var(--nav-height);
}

.navIconBtn:hover .material-symbols-outlined,
.navIconBtnClose:hover .material-symbols-outlined {
  color: var(--yellow-color);
}

button,
a {
  cursor: pointer;
}
a {
  text-decoration: none;
  color: var(--accents-color-light);
  font-weight: 500;
  font-style: italic;
}
a:hover {
  color: var(--accents-color-dark);
}
nav {
  position: relative;
  background-color: var(--primary-color);
  height: var(--nav-height);
}
nav a {
  color: var(--font-color);
  font-family: var(--font-family-oswald);
  font-weight: 500;
  font-style: unset;
}

@media (width < 600px) {
  #desktop {
    display: none;
  }

  #myNavLinks {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    max-height: max-content;
    z-index: 99;
    background-color: var(--primary-color);
    font-size: 20px;
    margin-top: var(--nav-height);
  }
  #myNavLinks a {
    display: block;
    padding-block: 2rem;
    padding-left: 1rem;
  }
  #myNavLinks a:hover {
    background-color: var(--yellow-color);
    color: var(--font-color);
    transition: 0.5s;
  }
}

/* @media (600px < width < 800px) {
} */

@media (width >= 600px) {
  #mobile {
    display: none;
  }
  #desktop {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-inline: 1rem;
  }
  #desktop a:hover {
    color: var(--yellow-color);
  }
}

/* main ============================>  */
main {
  margin: 1em auto;
  max-width: 50rem;
  margin-inline: auto;
  padding-inline: 1rem;
}
@media (width >= 600px) {
  main {
    display: grid;
  }
}

.btn {
  padding: 1rem 2rem;
}
button,
.btn,
input[type="submit"] {
  color: var(--font-color);
}
input[type="submit"] {
  padding: 5px 1rem;
}
.btn,
input[type="submit"],
.small-btn {
  background-color: var(--primary-color);
  border: transparent;
  border-radius: 5px;
  font-weight: 700;
}
.btn:hover,
input[type="submit"]:hover,
.small-btn:hover {
  background-color: var(--yellow-color);
}
h1 {
  font-size: var(--fs-h1);
  font-weight: 700;
  text-transform: uppercase;
}
h2 {
  font-size: var(--fs-h2);
  padding-bottom: 1rem;
}

/* ============== content general ======================== */
.content {
  display: block;
}

.content > * {
  padding-block: 0.5em;
}

.setting-items {
  margin-bottom: 1rem;
}

/* ============== schedule ======================== */

input:not([type="submit"]) {
  border: 1px solid #ccc;
  padding: 5px;
}
#register-form input:not([type="submit"]),
#login-form input:not([type="submit"]) {
  background-color: var(--input-color);
}
#register-form * {
  display: block;
}
#register-form input {
  margin-bottom: 1rem;
}
#login-form input {
  margin-bottom: 1rem;
}

.align {
  display: flex;
  align-items: center;
}
.edit-schedule-btns {
  display: flex;
  gap: 1rem;
}
.small-btn {
  padding: 0.25rem 0.5rem;
}
#add-schedule-form > input,
#edit-schedule-form > input {
  display: block;
  margin-bottom: 1rem;
}
#add-schedule-form .repeat-weekly,
#edit-schedule-form .repeat-weekly,
#add-schedule-form .not-weekly,
#edit-schedule-form .not-weekly,
#add-schedule-form #repeat,
#edit-schedule-form #repeat {
  margin-bottom: 1rem;
}
#add-schedule-form,
#edit-schedule-form {
  display: grid;
}

.schedule-detalis {
  margin-top: 1rem;
}

h3 {
  font-weight: 500;
}

#popup-schedule {
  margin: 0;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--accents-color-light);
  padding: 2rem 2rem 4rem 2rem;
  width: max-content;
  z-index: 1000;
  display: none;
}

#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accents-color-dark);
  opacity: 25%;
  z-index: 999;
  display: none;
}

main {
  margin-top: var(--nav-height);
  line-height: 1.25rem;
}

#exercisesinplan {
  background-color: #9f5f91;
  padding: 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  line-height: 1.5rem;
}
#exercisesinplan .exercise-title {
  font-weight: 500;
}
.exercisesinplan-above-div {
  margin-top: 1rem;
  text-transform: uppercase;
  font-weight: 700;
}

#exercisesinplan > div,
.schedule-search-bar > div {
  padding-block: 1rem;
}

#search-form {
  display: flex;
}
#search-form input {
  flex-grow: 1;
  padding: 0.5rem;
  text-indent: 1rem;
  font-size: 1rem;
}

#search-form button {
  flex-shrink: 0;
}

.container {
  padding-inline: 1rem;
  background: var(--accents-color-dark);
  color: #f5f5f5;
}
.schedule-search-bar p {
  font-weight: 300;
  font-style: italic;
  padding-bottom: 0.25rem;
}
.schedule-search-bar button {
  background-color: var(--yellow-color);
}
.schedule-search-bar button:hover {
  background-color: var(--primary-color);
  color: var(--bg-color);
}
/* ============== dashboard ======================== */
h4 {
  font-style: italic;
}
.dashboard-account .material-symbols-outlined:hover {
  color: var(--yellow-color);
}
#workout_schedule {
  padding-block: 2rem;
}

.start-workoutbtn {
  margin-top: 0.5rem;
}
.exerice-label-btn {
  cursor: pointer;
  display: flex;
  font-weight: 500;
}
.exerice-label-btn:hover {
  /* background-color: var(--yellow-color); */
  color: var(--yellow-color);
}
#component1 {
  background-color: var(--accents-color-light);
  padding: 1rem;
}
#component1 a {
  color: var(--accents-color-dark);
}
#component1 a:hover {
  color: var(--yellow-color);
}
#component1 > h4 {
  margin-bottom: 1rem;
}

#component1 input[type="checkbox"] {
  display: none;
}
.exerice-label-btn + input[type="checkbox"]:checked + .exerice-label-details {
  display: block;
}
.exerice-label-btn + input[type="checkbox"] + .exerice-label-details {
  display: none;
}
#component3 {
  margin-top: 2rem;
}
.dashboard-title {
  font-size: 24px;
  font-weight: 700;
  margin-top: 2rem;
}
.dashboard-account {
  display: flex;
  gap: 0.25rem;
}
.dashboard-account p {
  font-weight: 500;
}
.dashboard-account div {
  font-style: italic;
}
#component1:empty {
  display: none;
}
.recent_workouts > .exerice-label-details {
  margin-bottom: 1rem;
}
.recent_workouts input {
  display: none;
}
.recent_workouts > .exerice-label-details > div {
  color: var(--accents-color-light);
}
.recent-workout-h3 {
  font-size: 24px;
  margin-bottom: 1rem;
}
.recent_workouts:not(:last-of-type)::after {
  content: "";
  display: block;
  border-bottom: 1px solid var(--accents-color-light);
  margin-bottom: 0.5rem;
}
@media (width < 600px) {
  #component3 div {
    width: max-content;
    margin-inline: auto;
    margin-top: 2rem;
  }
}
@media (width >= 600px) {
  #component3 div {
    width: 40em;
    margin-inline: auto;
  }
}

/* ============== exerices ======================== */
#exerices_info {
  margin-top: var(--nav-height);
}
.exercises_holder {
  display: grid;
  gap: 1.5rem;
  place-items: center;
  text-align: center;
  margin-bottom: 2rem;
}

@media (width >= 600px) {
  .exercises_holder {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

/* =============== calendar ============================== */

table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
td,
th {
  text-align: center;
}

.calendar-events {
  background-color: var(--accents-color-light);
  border: 1px solid var(--accents-color-dark);
}

@media (width < 600px) {
  .calendar-events {
    display: none;
  }
  .calendar-day {
    cursor: pointer;
  }
  .events {
    display: block;
  }
  td,
  th {
    border: none;
  }

  .calendar-day-num {
    border: 2px solid transparent;
    padding: 1em;
  }
  .calendar-day-num:hover,
  .clicked-day {
    border-radius: 1rem;
    border-color: var(--accents-color-dark);
    background-color: var(--accents-color-dark);
    color: #f5f5f5;
  }
}
@media (width >= 600px) {
  #events {
    display: none;
  }
  td,
  th {
    border: 2px solid var(--accents-color-dark);
  }
  .calendar-day {
    padding-block: 1rem;
  }
}
