{% extends "base.html" %} {% block title %}Dashboard{% endblock %}{% block
content %}
<h3>Recent workout</h3>
{% for logged in log %}
<div>
  {% if logged.date_logged.date() == today %}
  <h4>Today</h4>
  {% else %}
  <h4>{{logged.date_logged.date()}}</h4>
  {% endif %}
  <!-- log exerice  -->
  {% for exercise in logged.name %}
  <p>{{exercise.exercise_name}}</p>
  {% for details in exercise.log %} {% if details.repetitions %}
  <p>{{details.repetitions}} x {{details.weight}}</p>
  {% endif %} {% if details.cardio %}
  <p>{{details.cardio}} x {{details.cardio_time}}min</p>
  {% endif %} {% endfor %} {% endfor %}
</div>
{% endfor %} {% endblock %}
