<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav>
      {% if 'user' in session %}
      <a href="/dashboard/{{session['user']}}">Dashboard</a>
      <a href="/exercises/search">Exerices</a>
      <a href="/logout">Logout</a>
      {% else %}
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      {% endif %}
    </nav>
    Setting: Metric
    <label class="switch">
      <input type="checkbox" />
      <span class="slider"></span>
    </label>
    Imperial {% block content %}
    <main></main>
    {% endblock %}
    <!-- <script src="/dashboard/static/dashboard.js"></script> -->
  </body>
</html>
