<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Home{% endblock %}</title>
  </head>
  <body>
    <nav>
      {% if 'user' in session %}
      <a href="/dashboard">Dashboard</a>
      <a href="/schedule">Schedule</a>
      <a href="/schedule/calendar">Calendar</a>
      <a href="/exercises">Exerices</a>
      <a href="/settings">{{ session['user'] }} </a>
      <a href="/logout">Logout</a>
      {% else %}
      <a href="/">Home</a>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      {% endif %}
    </nav>
    <main>{% block content %} {% endblock %}</main>
    <!-- <script src="/dashboard/static/dashboard.js"></script> -->
  </body>
</html>
