<div>
  <div onclick="detailAddExercise(event)">
    {{exercise.exercise_name}} <span>edit icon</span>
    <p id="{{exercise.id}}" onclick="detailAddExerciseForm(event)">
      {% if exercise.sets %} {{exercise.sets}} SETS {% endif %} *
      <!--  -->
      {% if exercise.repetitions %} {{exercise.repetitions}} Reps {% endif %} *
      <!--  -->
      {% if session[weightunit] == "metric" %} {% if exercise.weight %}
      {{exercise.weight}} KG {% endif %}
      <!--  -->
      {% if exercise.cardio %} {{exercise.cardio}} KM {% endif %}
      <!--  -->
      {% else %} {% if exercise.weight %} {{exercise.weight}} LB {% endif %}
      <!--  -->
      {% if exercise.cardio %} {{exercise.cardio}} MILES {% endif %} {% endif %}
    </p>
  </div>
  <button
    data-exercisesinplan-id="{{exercise.id}}"
    onclick="deleteFromSchedule(event)"
  >
    Delete icon
  </button>
</div>
