<div>
  <div onclick="detailAddExercise(event)">
    {{exercise.exercise_name}} <span>edit icon</span>
    set: 3 reps: 60 weight: 100 || set: 1 10km
    <!--  -->
    {% if exercise.sets %} {{exercise.sets}} {% endif %}
    <!--  -->
    {% if exercise.sets %} {{exercise.sets}} {% endif %}
    <!--  -->
    {% if exercise.sets %} {{exercise.sets}} {% endif %}
    <!--  -->
    {% if exercise.sets %} {{exercise.sets}} {% endif %}
  </div>
  |
  <button
    data-exercisesinplan-id="{{exercise.id}}"
    onclick="deleteFromSchedule(event)"
  >
    Delete icon
  </button>
</div>
