<div>
  <div>{{exercise.exercise_name}}</div>
  <div class="sets">
    {% if session['weightunit'] == 'metric' %}
    <div>
      <input type="number" />
      <select id="mySelect">
        <option value="option1">KG</option>
        <option value="option3">KM</option>
      </select>
    </div>
    {% else %}
    <div>
      <input type="number" />
      <select id="mySelect">
        <option value="option1">LB</option>
        <option value="option3">Miles</option>
      </select>
    </div>
    {% endif %}
  </div>
  <button
    data-exercisesinplan-id="{{exercise.id}}"
    onclick="deleteFromSchedule(event)"
  >
    Delete
  </button>
</div>
