{% extends "base.html" %} {% block title %}Dashboard{% endblock %}{% block
content %}
<hr />
Your account: {{user.email}} <span><a href="/settings">Edit</a></span
><span><a href="/delete">Delete</a></span>
<div>Dashboard:</div>
<div id="workout_schedule">
  <h2>Today's Workout Schedule</h2>
  <div id="todayWorkout">
    {% if workout.exerciseinplans %}
    <!-- start -->
    <ul>
      {% for exercise in workout.exerciseinplans %}
      <li>{{ exercise.exercise_name }}</li>
      {% endfor %}
    </ul>
  </div>
  <div>
    <a href="/logging/{{workout.id}}">Start Workout</a>
  </div>
  <!-- else  -->
  {%else%} No workout schedule for today. {%endif%}
</div>
<div id="component1"></div>

<div id="component2"></div>

<div id="component3"></div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('dashboard_bp.static', filename='dashboard.js') }}"></script>
{% endblock %}
