{% extends "base.html" %} {% block title %}Dashboard{% endblock %}{% block
content %}
<div class="dashboard-account">
  <p>Account:</p>
  <div>{{user.email}}</div>

   <a href="/settings"
      ><span class="material-symbols-outlined"> edit </span></a
    ></span
  >
    <a href="/delete"
      ><span class="material-symbols-outlined"> delete </span></a
    ></span
  >
</div>
<div class="dashboard-title">Dashboard:</div>
<div id="workout_schedule">
  <h2>Today's Workout Schedule</h2>
  <div id="todayWorkout">
    {% if workout.exerciseinplans %}
    <!-- start -->
    <ul>
      {% for exercise in workout.exerciseinplans %}
      <li>{{ exercise.exercise_name }}</li>
      {% endfor %}
    </ul>
  </div>
  <div class="start-workoutbtn">
    <a href="/logging/{{workout.id}}"
      ><button class="btn">Start Workout</button></a
    >
  </div>
  <!-- else  -->
  {%else%} No workout schedule for today. {%endif%}
</div>
<div id="component1"></div>

<div id="component2"></div>

<div id="component3"></div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('dashboard_bp.static', filename='dashboard.js') }}"></script>
{% endblock %}
